.office-worker-calendar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .chooser-actions-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    .edit-calendar-button{
      position: absolute;
      left: 40px;
    }

  }

}