.grade-list-guardian {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        text-align: center;
        margin-bottom: 24px;
        font-weight: bold;
    }
}