.attendance-controls {
  display: flex;
  gap: 8px;

  .MuiToggleButton-root {
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;

    svg {
      font-size: 1.5rem;
    }

    &:hover {
      opacity: 0.8;
    }

    &.Mui-selected {
      &.present {
        background-color: rgba(31, 206, 31, 0.4);
      }

      &.absent {
        background-color: rgba(255, 163, 163, 0.7);
      }

        &.late {
            background-color: #FFA50066;
        }

        &.excused {
            background-color: #00BFFF66;
        }
    }
  }

  .present {
    color: green;
  }

  .absent {
    color: red;
  }

  .late {
    color: orange;
  }

    .excused {
        color: deepskyblue;
    }
}