.goal-function-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 16px;

  .goals-comment{
    opacity: 60%;
  }

}

.sortable-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.drag-overlay {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.drag-overlay-handle {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 20px;
    color: #757575;
  }
}

.drag-overlay-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
