.sidebar {
    width: 60px;
    transition: width 0.3s ease;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #7599af;
    overflow: hidden;
    border-right: 3px solid darkslategray;

    .drawer-toggle {
        display: flex;
        transition: transform 0.3s ease;
    }

    &.open {
        width: 240px;

        .drawer-toggle {
            transform: translateX(180px);
        }

        .route-text {
            margin-left: 16px;
            opacity: 1;
            white-space: nowrap;
        }
    }

    .route-icon {
        min-width: 0;
        justify-content: center;
    }

    .route-button {
        height: 50px;

        &.Mui-selected {
            background-color: #1976d2;
            color: white;

            .route-icon {
                color: white;
            }

            .route-text {
                font-weight: bold;
            }

            &:hover {
                background-color: #1565c0;
            }
        }
    }
}


