.breadcrumb {
    display: flex;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;


    .link {
        color: inherit;
        text-decoration: none;
        padding: 5px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: #8b96d3;
        }
    }
}