.generated-plan-calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
  }

  .chooser {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    .button-popover-wrapper {
      position: absolute;
      display: flex;
      right: 40px;
      gap: 12px;
    }
  }

  .browsable-calendar {
    background-color: white;
    height: 90vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}
