.file-input[type="file"] {
  padding: 4px;
  border-radius: 4px;
}

.file-input-img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  border: 10px solid lightgrey;
  border-radius: 4px;
}
