input[type="file"] {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  border: 1px solid lightgrey;
  border-radius: 4px;
}
